# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.


# Java sources
*.java          text diff=java
*.gradle        text diff=java
*.gradle.kts    text diff=java

# These files are text and should be normalized (Convert crlf => lf)
*.css           text diff=css
*.scss          text 
*.df            text
*.htm           text diff=html
*.html          text diff=html
*.ts            text
*.js            text
*.properties    text
*.tld           text
*.tag           text
*.tagx          text
*.md            text

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text


# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf

# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf


# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary
*.gif           binary
*.ico           binary
*.jpg           binary
*.jpeg          binary
*.png           binary